
.hello{
    background-color: #6483A1;
    background-size: cover; 
    background-repeat: no-repeat; 
  }

  .background-image {
    background-size: cover;
    background-position: center center;
    background-color: #adb4bf; 
   
  }
  
.signin-container {
  background-image: url('./Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
